<!DOCTYPE html>
<html lang="en">
  <head>
    @include('partial.head')
    <!-- Plugins css start-->
    <link rel="stylesheet" type="text/css" href="{{appUrl()}}/assets/css/datatables.css">
    <!-- Plugins css Ends-->
  </head>
  <body>
    <!-- Loader starts-->
    <div class="loader-wrapper">
      <div class="theme-loader">    
        <div class="loader-p"></div>
      </div>
    </div>
    <!-- Loader ends-->
    <!-- page-wrapper Start       -->
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
      
      <!-- Page Header Start-->
      @include('partial/header')
      <!-- Page Header Ends -->
      
      <!-- Page Body Start-->
      <div class="page-body-wrapper sidebar-icon">
       
        @include('partial/nav/admin')

        <div class="page-body">
          <!-- Container-fluid starts-->

          <div class="container-fluid dashboard-default-sec">
            <div class="col-sm-6">
              <h3>Kirim Laporan Harian</h3>
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Djarwal / <a href="">Kirim Laporan Harian</a></li>
              </ol>
            </div>

            <div class="card">
              <div class="card-header">
                @if(flashMessages.get('status'))
                  <div class="col-sm-12 bg-{{flashMessages.get('status.type')}} b-r-4">
                    <div class="alert alert-{{flashMessages.get('status.type')}} dark alert-dismissible fade show" role="alert">{{flashMessages.get('status.message')}}
                      <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close" data-bs-original-title="" title=""></button>
                    </div>
                  </div>
                @end
                {{--  <div class="col mb-3 text-end">
                  <a href="{{route('input.kamar.add')}}" class="btn btn-primary btn-sm" > <span class="fa fa-plus"></span> Booking Kamar</a>
                </div>  --}}
                <div class="col mb-3 text-end">
                  {{--  <a href="{{route('input.additional_item.add')}}" class="btn btn-primary btn-sm" > <span class="fa fa-plus"></span> Tambah Item</a>  --}}
                  @!component('component/modal/kirim/add', {belum : belum})
                </div>
                <div class="card-block row mt-3">
                      <div class="col-sm-12 col-lg-12 col-xl-12">
                          <div class="table-responsive">
                              <table class="display table-bordered" id="basic-1">
                                  <thead class="table-primary">
                                      <tr>
                                          <th scope="col" style="width:20px">No</th>
                                          <th scope="col">Tanggal</th>
                                          <th scope="col">Total Pemasukan</th>
                                          <th scope="col">Status Transaksi</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                    {{--  @set('bed', ['', 'Single Bed', 'Queen Bed', 'King Bed', 'Twin Bed', '3 Bed', 'K + S'])  --}}
                                    @each((item, index) in report)
                                      <tr>
                                        <th scope="col">{{index + 1}}</th>
                                        <td>{{tanggal(item.tanggal)}}</td>
                                        <td>Rp. {{tandaPemisahTitik(item.total)}}</td>
                                        @if(item.status)
                                          <td style="text-align:center">
                                            <button class="btn btn-success" id="" type="button">Sudah Transaksi</button>
                                          </td>
                                        @else
                                        <td style="text-align:center">
                                          <button class="btn btn-danger" id="" type="button">Belum Transaksi</button>
                                        </td>
                                        @endif
                                        {{--  <td style="text-align:center">
                                          <form action="{{route('booking-aula.hapus')}}" method="POST">
                                            <input type="hidden" name="id" id="id" value="{{item.id}}">
                                            <button class="btn btn-danger" id="" type="submit">Hapus</button>
                                          </form>
                                        </td>  --}}
                                      </tr>
                                    @endeach
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>  
          <!-- Container-fluid Ends-->
        </div>




        <!-- footer start-->
        <footer class="footer">
          <div class="container-fluid">
            <div class="row">
              
            </div>
          </div>
        </footer>
      </div>
    </div>
    <!-- latest jquery-->
    <script src="{{appUrl()}}/assets/js/jquery-3.5.1.min.js"></script>
    <!-- feather icon js-->
    <script src="{{appUrl()}}/assets/js/icons/feather-icon/feather.min.js"></script>
    <script src="{{appUrl()}}/assets/js/icons/feather-icon/feather-icon.js"></script>
    <!-- Sidebar jquery-->
    <script src="{{appUrl()}}/assets/js/sidebar-menu.js"></script>
    <script src="{{appUrl()}}/assets/js/config.js"></script>
    <!-- Bootstrap js-->
    <script src="{{appUrl()}}/assets/js/bootstrap/popper.min.js"></script>
    <script src="{{appUrl()}}/assets/js/bootstrap/bootstrap.min.js"></script>
    <!-- Plugins JS start-->
    <script src="{{appUrl()}}/assets/js/datatable/datatables/jquery.dataTables.min.js"></script>
    <script src="{{appUrl()}}/assets/js/datatable/datatables/datatable.custom.js"></script>
    <script src="{{appUrl()}}/assets/js/tooltip-init.js"></script>
    <!-- Plugins JS Ends-->
    <!-- Theme js-->
    <script src="{{appUrl()}}/assets/js/script.js"></script>
    {{--  <script src="{{appUrl()}}/assets/js/theme-customizer/customizer.js"></script>  --}}
    <!-- login js-->
    <script>
      const lain = document.querySelector('#lain')
      const tambah = document.querySelector('#tambah')
      const lainnya = document.querySelector('#lainnya')

      tambah.addEventListener('click', res => {
        const value = lainnya.value
        const text = lainnya.options[lainnya.selectedIndex].text
        lain.innerHTML += `
        <div class="row mt-2" id="item">
            <input type="hidden" name="laporan[]" value="${value}">
            <div class="col">
                <span>${text}</span>
            </div>
            <div class="col">
                <button class="btn btn-danger btn-xs" id="hapus" type="button"><span class="fa fa-close"></span></button>
            </div>
        </div>
        `
        getAddItem()
      })

      getAddItem()
      function getAddItem(){
        const item = document.querySelectorAll('#item')
        const hapus = document.querySelectorAll('#hapus')

        item.forEach((e,i) => {
          hapus[i].addEventListener('click', () => {
            console.log('click')
            e.remove()
          })
        })
      }
    </script>
    <!-- Plugin used-->
  </body>
</html>