<!DOCTYPE html>
<html lang="en">
  <head>
    @include('partial.head')
    <!-- Plugins css start-->
    <link rel="stylesheet" type="text/css" href="{{appUrl()}}/assets/css/datatables.css">
    <!-- Plugins css Ends-->
  </head>
  <body>
    <!-- Loader starts-->
    <div class="loader-wrapper">
      <div class="theme-loader">    
        <div class="loader-p"></div>
      </div>
    </div>
    <!-- Loader ends-->
    <!-- page-wrapper Start       -->
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
      
      <!-- Page Header Start-->
      @include('partial/header')
      <!-- Page Header Ends -->
      
      <!-- Page Body Start-->
      <div class="page-body-wrapper sidebar-icon">
       
        @include('partial/nav/admin')

        <div class="page-body">
          <!-- Container-fluid starts-->

          <div class="container-fluid dashboard-default-sec">
            <div class="col-sm-6">
              <h3>Tambah Kamar</h3>
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Djarwal / <a href="">Management Data / </a><a href="{{route('input.kamar')}}">Kamar / </a><a href="{{route('input.kamar.add')}}">Tambah</a></li>
              </ol>
            </div>
            <div class="card">
              <div class="card-header pb-0">
                @if(flashMessages.get('status'))
                  <div class="col-sm-12 bg-{{flashMessages.get('status.type')}} b-r-4">
                    <div class="alert alert-{{flashMessages.get('status.type')}} dark alert-dismissible fade show" role="alert">{{flashMessages.get('status.message')}}
                      <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close" data-bs-original-title="" title=""></button>
                    </div>
                  </div>
                @end
                <h5>Form Tambah Kamar</h5>
              </div>
              <form class="form theme-form" method="POST">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <div class="mb-3">
                        <label for="input-text-1">Nomor Kamar</label>
                        <input class="form-control btn-square" id="input-text-1" name="nomor" type="text" placeholder="Masukkan Nomor Kamar" data-bs-original-title="" title="" required>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="mb-3">
                        <label for="input-text-1">Tipe Kamar</label>
                        <select class="form-control btn-square" id="input-text-1" name="tipe" data-bs-original-title="" title="" required>
                          <option value=> -- Pilih Tipe Kamar -- </option>
                          @each(item in tipe)
                            <option value={{item.id}}>{{item.tipe}}</option>
                          @endeach
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="mb-3">
                        <label for="input-text-1">Harga Kamar</label>
                        <input class="form-control btn-square" id="input-text-1" name="harga" type="number" min=0 placeholder="Masukkan Harga Tipe Kamar" data-bs-original-title="" title="" required>
                      </div>
                    </div>
                  </div>
                  {{--  <div class="row">
                    <div class="col">
                      <div class="mb-3">
                        <label for="input-text-1">Luas Tipe Kamar</label>
                        <input class="form-control btn-square" id="input-text-1" name="luas_kamar" type="number" min=0 placeholder="Masukkan Luas Tipe Kamar" data-bs-original-title="" title="" required>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="mb-3">
                        <label for="input-text-1">Luas Kamar Mandi</label>
                        <input class="form-control btn-square" id="input-text-1" name="luas_mandi" type="number" placeholder="Masukkan Luas Kamar Mandi" data-bs-original-title="" title="" required>
                      </div>
                    </div>
                  </div>  --}}
                  <div class="row">
                    <div class="col">
                      <div class="mb-3">
                        <label for="input-text-1">Tempat Tidur</label>
                        <select class="form-control btn-square" id="input-text-1" name="tempat_tidur" data-bs-original-title="" title="" required>
                          <option value=> -- Pilih Jenis Tempat Tidur -- </option>
                          <option value=1>Single Bed</option>
                          <option value=2>Queen Bed</option>
                          <option value=3>King Bed</option>
                          <option value=4>Twin Bed</option>
                          <option value=5>3 Bed</option>
                          <option value=6>K + S</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="mb-3">
                        <label for="input-text-1">Lantai Kamar</label>
                        <select class="form-control btn-square" id="input-text-1" name="lantai" data-bs-original-title="" title="" required>
                          <option value=> -- Pilih Lantai -- </option>
                          <option value=1>Lantai 1</option>
                          <option value=2>Lantai 2</option>
                          <option value=3>Lantai 3</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-footer text-end">
                  <button class="btn btn-primary" type="submit">Submit</button>
                </div>
              </form>
            </div>
          </div>  
          <!-- Container-fluid Ends-->
        </div>




        <!-- footer start-->
        <footer class="footer">
          <div class="container-fluid">
            <div class="row">
              
            </div>
          </div>
        </footer>
      </div>
    </div>
    <!-- latest jquery-->
    <script src="{{appUrl()}}/assets/js/jquery-3.5.1.min.js"></script>
    <!-- feather icon js-->
    <script src="{{appUrl()}}/assets/js/icons/feather-icon/feather.min.js"></script>
    <script src="{{appUrl()}}/assets/js/icons/feather-icon/feather-icon.js"></script>
    <!-- Sidebar jquery-->
    <script src="{{appUrl()}}/assets/js/sidebar-menu.js"></script>
    <script src="{{appUrl()}}/assets/js/config.js"></script>
    <!-- Bootstrap js-->
    <script src="{{appUrl()}}/assets/js/bootstrap/popper.min.js"></script>
    <script src="{{appUrl()}}/assets/js/bootstrap/bootstrap.min.js"></script>
    <!-- Plugins JS start-->
    <script src="{{appUrl()}}/assets/js/datatable/datatables/jquery.dataTables.min.js"></script>
    <script src="{{appUrl()}}/assets/js/datatable/datatables/datatable.custom.js"></script>
    <script src="{{appUrl()}}/assets/js/tooltip-init.js"></script>
    <!-- Plugins JS Ends-->
    <!-- Theme js-->
    <script src="{{appUrl()}}/assets/js/script.js"></script>
    {{--  <script src="{{appUrl()}}/assets/js/theme-customizer/customizer.js"></script>  --}}
    <!-- login js-->
    <!-- Plugin used-->
  </body>
</html>