<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Verifikasi email</title>

  <style>
    p {
      font-family: Arial, Helvetica, sans-serif;
    }

    .button {
      position: relative;
      background-color: #4CAF50;
      border: none;
      font-size: 18px;
      color: #FFFFFF;
      padding: 10px;
      width: 200px;
      text-align: center;
      -webkit-transition-duration: 0.4s;
      /* Safari */
      transition-duration: 0.4s;
      text-decoration: none;
      overflow: hidden;
      cursor: pointer;
    }

    .button:after {
      content: "";
      background: #f1f1f1;
      display: block;
      position: absolute;
      padding-top: 300%;
      padding-left: 350%;
      margin-left: -20px !important;
      margin-top: -120%;
      opacity: 0;
      transition: all 0.8s
    }

    .button:active:after {
      padding: 0;
      margin: 0;
      opacity: 1;
      transition: 0s
    }

  </style>
</head>

<body>
  <center>
    <h3>LAPORAN HARIAN TANGGAL {{date(new Date(post.tanggal))}}</h3>
  </center>
  <h4>ROOM YANG TERJUAL ({{rekap.length}})</h4>
  @each((item, index) in rekap)
    <p>{{index + 1}}. {{item.meta.nomor}}</p>
  @endeach

  <h4>ROOM Terisi ({{belum.length}})</h4>
  @each((item, index) in belum)
    <p>{{index + 1}}. {{item.meta.nomor}}</p>
  @endeach

  <h4>PENDAPATAN DR ROOM :</h4>
  @each((item, index) in rekap)
    <p>{{index + 1}}. {{item.meta.nomor}} = Rp. {{tandaPemisahTitik(item.total)}}</p>
  @endeach

  @set('sum', 0)
  <h4>
    PENDAPATAN HR INI = RP. <div id></div> {{tandaPemisahTitik(post.total)}},- 
    @if(post.status)
    ( TERMASUK TRANSAKSI ) 
    @set('sum', parseInt(sum) + parseInt(post.total))
    @else
    ( TDK TERMASUK TRANSAKSI )
    @endif
  </h4>

  @if(lain.length > 0)
    <h4>NB : JUMLAH PENDAPATAN TERMASUK </h4>
    <ul>
      @each((item, index) in lain)
        @set('sum', parseInt(sum) + parseInt(item.total))
        <li>PENDAPATAN TGL {{tanggal_laporan(new Date(item.tanggal))}} = Rp. {{tandaPemisahTitik(item.total)}}</li>
      @endeach
    </ul>
  @endif

  <h4>TOTAL TRANSAKSI = RP. {{tandaPemisahTitik(sum)}},-</h4>

</body>

<script>
  
</script>
</html>
